:root {
    --main: #e74c3c;
}

body {
    margin: 0;
}

#container1 {
    padding: 0;
    display: grid;
    grid-template-areas: 
    "hd hd"
    "mn mn"
    "vo vo"
    "re re"
    "ft ft";
}
#container2 {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "hd hd"
    "fo fo"
    "ft ft";
}
#container3 {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 6vh 88vh;
    grid-template-areas: 
    "hd hd"
    "si ma"
    "si ma"
    "ft ft";
    height: 100vh;
}
header {
    grid-area: hd;
}
#container3 main {
    width: 100%;
    height: 100%;
    background-color: white;
    grid-area: ma;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProgramBox {
    width: 90%;
    height: 90%;
    background-color: #dbcccc;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin:0;
    border: 4px red solid;
    border-radius: 10px;

}
.ImageBox {
    width: 100%;
    height: 100%;
    display: grid;
    background-size: cover;
    grid-template-rows: 33% 20% 47%;
    margin:0;
    padding: 0;
    border: none;
}

#Top {
    width: 100%;
    height: 100%;
    background-image: url("/img/Figure/Top.png");
    background-size:cover;
    background-position: center;
    border:0; 
    margin: 0;
}
#Middle {
    width: 100%;
    height: 100%;
    background-image: url("/img/Figure/Middle.png");
    background-size: cover;
    background-position:center;
    border: 0;
    margin: 0;
}
#Bottom {
    width: 100%;
    height: 100%;
    background-image: url("/img/Figure/Bottom.png");
    background-size: cover;
    background-position:center;
    border: 0;
    margin: 0;
}
#Top:hover
{
    background-image: url("/img/Figure/MarkedTop.png"); 
}
#Middle:hover
{
    background-image: url("/img/Figure/MarkedMiddle.png"); 
}

#Bottom:hover
{
    background-image: url("/img/Figure/BottomMarked.png"); 
}



aside {
    background-color: white;
    height: 93vh;
    display: flex;
    grid-area: si;
    justify-content: center;
    border-right: 5px solid var(--main);

}

#container3 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    background-color: white;
    color: white;
    border-bottom: 5px solid var(--main);;
    grid-area: hd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: white;
    color: white;
    border-bottom: 5px solid var(--main);
    grid-area: hd;
}

.ExploreMore  {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    grid-area: vo;
    background-color: white;
    
    height: 60vh;
}
.TrustedBy {
    margin-top: -300px;
    font-size: 45px;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    grid-area: re;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.TrustedCard {
    background-color: rgb(240, 141, 141);
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 10px;
    border: 2px solid var(--main);
    
}
.cardholder {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    grid-area: vo;
    
}


.card {
    width: 300px;
    height: 300px;
    border: 2px solid var(--main);
    background-color: white;
    margin: 3px;
    border-radius: 20px;
}
.card p {
    font-size: 15px;

}
.card img {
    margin-top: 30px;
    width: 50px;
    height: 50px;   
}
.profilecard {
    width: 200px;
    flex: none;
    height: 200px;
    border: 2px solid red;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}
.profilecard div {
    margin-top: -50px;
}
.profilecard p {
    font-size: 16px;
}
.profilecard img {
    margin: 10px;
    width: 50%;
    height: 50%;
}

.logo img {
    height: 100%;
    width: 200px;
}

footer {
    margin-top: 20px;
    grid-area: ft;
    width: 100%;
    background-color: var(--main);
    height: 20vh;
}

.nav-center {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    flex: 1;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    color: var(--main);
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    transition: 0.1s;
}

.spacing {
    padding-right: 200px;
}
#container1 main {
    width: 100%;
    height: 60vh;
    background-color: var(--main);
    display: flex;
    align-items: center;
    border-bottom: 4px red solid;
    grid-area: mn;
}

.maintext {
    width: 50%;
    height: 80%;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.maintext h1 {
    font-size: 50px;
}
.maintext p {
    font-size: 20px
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

h1 {
    font-family: "Montserrat";
    font-size: 100%;

}
h3 {
    font-size: 60.0%;
}
.headertitle {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.main h1 {
    font-size: 200%
}

.indeximage {
    width: 45%;
    height: 45vh;
    background-color: brown;
    margin-left: 10%;
    margin-right: 5%;
    border: 2px solid rgb(161, 14, 14);
    border-radius: 10px;
    background-size:cover;
    background-image: url("https://images.unsplash.com/photo-1627483262112-039e9a0a0f16?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.startnow {
    width: 30%;
    height: 10%;
    border: 2px solid rgb(154, 3, 3);
    border-radius: 5px;
    background-color: var(--main);
    font-size: 100%;
    transition: 0.1s;
}
.startnow:hover {
    background-color: rgb(124, 16, 16);
    cursor:pointer;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: white;
    color: white;
    border-bottom: 4px red solid;
    grid-area: hd;
    width: 100%;
}

.logo img {
    height: 100%;
    width: 200px;
}

footer {
    margin-top: 20px;
    grid-area: ft;
    width: 100%;
    background-color: var(--main);
    height: 20vh;
}

.nav-center {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    flex: 1;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    color: rgb(255, 0, 0);
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    transition: 0.1s;
}
.nav-buttons button:hover {
    margin: -6px;
    font-size: 21px;
    border-bottom: 3px solid var(--main);;
}

.spacing {
    padding-right: 200px;
}

.forumCenter
{
    width: 95vw;
    height: 100%;
    background-color: rgb(255, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(251, 159, 159, 0.722);
    border-radius: 10px;
}

.forum {
    grid-area: fo;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    
    
}

.container {
    margin-top: 1%;
    width: 95%;
    height: 320px;
    background-color: white;
    border: 6px solid rgba(244, 43, 43, 0.722);
    border-radius: 15px;
}

.container img {
    border: 3px solid rgb(255, 0, 0);
    height: 85%;
    margin: 5px;
    border-radius: 10px;
}
.container p 
{
    height: 30%;
    font-size: 120%;
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.container button{
    width: 150px;
    height: 45px;
    margin-left: 80%;
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgb(255, 126, 126);
    font-size: 100%;

}
.container button :hover {
background-color: red;
}
.containerHeader {
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    
}
.containerHeader h2 {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

    height: 40%;
    font-weight: bold;
    font-size: 200%;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.programinfo {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.programinfo h1 {
    font-size: 2em;
}

ul {
    border: var(--main) 4px solid;
    border-radius: 10px;
    font-size: 30px;
    width: 70%;
    height: 60%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
aside ul {
    border: none;
    list-style: none;
}


li {
    margin-top: 30px;
}
aside ul :hover {
    color: red;
    font-weight:bold;
 }
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside div {
    display: flex;
    align-items: center;
}

aside h1 {
    font-size: 30px;
}
